.layout {
  min-height: 100vh !important;
}

.layout .content {
  display: flex;
  padding: 50px 50px;
}

.layout .content .site-layout-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 24px;
}

.layout .footer {
  text-align: center;
}
