.layout {
  min-height: 100vh !important;
}

.layout .content {
  padding: 50px 50px;
  height: 100%;
}

.layout .content .site-layout-content {
  background-color: #fff;
  padding: 24px;
  height: 100%;
}

.layout .footer {
  text-align: center;
}
